:root {
    --outer-color: rgb(93, 93, 181);
    --inner-color: rgb(224, 220, 178);
    --bg-gradient: linear-gradient(90deg, var(--inner-color), var(--outer-color));  
}

.wBackground {
    width:100%;
    background-image: var(--bg-gradient);
}

.bBack {
    background-color: var(--inner-color);
    color:var(--outer-color);
    width:100vw;
    padding-left:20px;
}

.thirtyMarginTop {
    margin-top:30px;
}